.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    margin: 20px 20px;
  }

  .logo {
  }

  &-1 {
  }

  li {
    padding: 20px 20px;
  }

  a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }

  a:hover {
    color: rgb(179, 177, 177);
  }
}
